/* src/App.css */
.App {
  text-align: center;
}

.username-container {
  margin-top: 20px;
}

.username-container input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

.username-container button {
  padding: 10px 20px;
}
